<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><%= htmlWebpackPlugin.options.variables.title %></title>
        <base href="<%= htmlWebpackPlugin.options.variables.base %>" />
        <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.variables.favicon %>" />
        <style>
            html,
            body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }

            html {
                overflow: scroll;
                overflow-x: hidden;
            }
            ::-webkit-scrollbar {
                width: 0px;
            }
        </style>
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
